
<!-- <app-blog-item></app-blog-item>
<app-blog-item></app-blog-item> -->

<div *ngFor="let data of blogs; let i = index">
    <!-- <app-blog-item *ngIf="data.published && data.authorActive" [blog]="data" (loveEmitter)="loveAction($event)"></app-blog-item> -->
    
    <div [ngClass]="['card','card2', 'card3']">
        <app-blog-item [blog]="data" (loveEmitter)="loveAction($event)"></app-blog-item>
    </div>

</div>

<div [ngClass]="['card']">hello</div>
<button (click)="changeCss()">Change CSS</button>

<!-- <ng-container *ngFor="let numbs of nums">
    <div [ngSwitch]="numbs">
        <div *ngSwitchCase="0">Zero</div>
        <div *ngSwitchCase="1">One</div>
        <div *ngSwitchCase="2">Two</div>
        <div *ngSwitchCase="3">Three</div>
        <div *ngSwitchCase="4">Four</div>
        <div *ngSwitchDefault>Infinity</div>
    </div>
</ng-container> -->

<!-- <button (click)="incrementNum()">Increase</button> -->
